# Xcode
*.xcworkspace
*.xcodeproj
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Tuist
Derived/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Misc
.DS_Store
*.log
